@CHARSET "UTF-8";

#topo {	
	background-color: #00B8D4;
}
.logo {
	width: 238px;
    height: 110px;
    margin-top: -30px;
    margin-bottom: -22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.menu {
	margin-bottom: 5px;
}
.cabecalho {
	text-align: center;
}
