@CHARSET "UTF-8";

.body-login {
	background-color: #00B8D4;
}
.login {	
    width: 40%;
    margin-top: 11%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.painel-login {
	margin-left: auto;
    margin-right: auto;
    padding: 10px;    
}
#topo {	
	background-color: #00B8D4;
}
.logo {
	width: 238px;
    height: 110px;
    margin-top: -30px;
    margin-bottom: -22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.menu {
	margin-bottom: 5px;
}
.cabecalho {
	text-align: center;
}
